<!DOCTYPE html>
<html>
    <head>
        <title>YouWorld Project</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/index.css">

    </head>
    <body style="height: 3000px;">
        <div>
            <img class="pic" src="../assets/Carousel.jpeg">

            <div>
                <p class="first">The only website that sells books for an reader at the cheapest</p> 
                <p class="second">price and with zero additional costs.</p>

                <p class="third">Names of Authors and titles<hr class="one"> <hr class="two"></p>
            </div>

            <div>
                <button>Action</button>
                <button>Adventure</button>
                <button>Cooking</button>
                <button>Comedy</button>
                <button>Drama</button>
                <button>Fantasy</button>
                <button>Horror</button>
                <button>Manhua</button>
                <button>Mystery</button>
                <button>MechaSports</button>
                <button>Romance</button>
                <button>Sci-fi</button>
                <button>Suspense</button>
            </div>
        </div>
    </body>
</html>