<!DOCTYPE html>
<html>
    <head>
        <title>YouWorld Project</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/index.css">

    </head>
    <body name="viewport" content="width=device-width, initial-scale=1.0" style="height: 3000px;">
        <div>
            <div class="header">
                <div class="left-section">
                    <img class="logo" 
                        src="../assets/top banner.jpeg">
                    <img class="name" 
                        src="../assets/name.jpeg">
                </div>

                <div class="middle-section">
                    <input class="search-bar" type="text"
                        placeholder="Search For Products">

                    <button class="search-button">
                        <img class="search-icon" src="/YL-Project/assets/search-button.jpeg">
                    </button>
                </div>

                <div class="right-section">
                    <button class="fav-button">
                        <img class="heart"
                        src="../assets/favorite.jpg">
                    </button>
                    
                    <button class="cartwheel">
                        <img class="adding"
                        src="../assets/cart.jpg">
                    </button>
                </div>

                <div class="end-section">
                    <button class="signing-in">
                        Sign In
                    </button>
                    <button class="signing-up">
                        Sign Up
                    </button>
                </div>
            </div>
            
            <div class="new">
                <button class="bt1">Home &#160 <a class="smaL">&#124</a> </button>
                <button class="bt2">Shop &#160 <a class="smaL">&#124</a> </button>
                <button class="bt3">Category &#160 <a class="smaL">&#124</a> </button>
                <button class="bt4">Shelves</button>
            </div>

            <img class="pic" src="../assets/Carousel.jpeg">

            <div>
                <p class="first">The only website that sells books for an reader at the cheapest</p> 
                <p class="second">price and with zero additional costs.</p>

                <p class="third">Names of Authors and titles<hr class="one"> <hr class="two"></p>
            </div>

            <div class="spaces">
                <button>Action</button>
                <button>Adventure</button>
                <button>Cooking</button>
                <button>Comedy</button>
                <button>Drama</button>
                <button>Fantasy</button>
                <button>Horror</button>
                <button>Manhua</button>
                <button>Mystery</button>
                <button>Mecha</button>
                <button>Sports</button>
                <button>Romance</button> 
                <button>Sci-fi</button>
                <button>Suspense</button>
            </div>

            <div>
                <p class="heading">Comic/Manga/Manhua<hr class="three"><hr class="four"></p>
            </div>

            <div class="tag">
                <a class="t">ON</a>
                <a class="tee">DEMAND</a>
            </div>
        </div>
    </body>
</html>