div {
    font-family: Lato;
}

.header {
    height: 80px;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 999;
    width: 100%;
}

.left-section {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.logo {
    width: 50px;
    margin-bottom: 8px;
}

.name {
    width: 140px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.middle-section {
    align-items: justify;
    display: flex;
    max-width: 1500px;
}

.search-bar {
    margin-left: 90px;
    margin-top: 20px;
    width: 600px;
    height: 22px;
    border-color: rgb(151, 147, 147);
    border-width: 2px;
    border-style: solid;
    border-radius: 9px;
    box-shadow: inset 1px 2px 3px
    rgba(0, 0, 0, 0.05);
    outline: none;
    padding-inline: 10px;
}

.search-bar::placeholder {
    font-size: 15px;
    text-align: left;
}

.search-button {
    width: 50px;
    height: 30px;
    margin-left: -50px;
    color: grey;
    background-color: transparent;
    border: 0;
    border: 0px solid white;
   border-radius: 9px;
   border-left: none;
}

.search-button:hover {
    opacity: 0.9;
}

.search-button:active {
    opacity: 0.3;
}

.right-section {
    display: flex;
    align-items: center;
}

.fav-button {
    width: 40px;
    font-size: 25px;
    border: 1px solid white;
}


.fav-button:active {
    opacity: 0.7;
}

.cartwheel {
   width: 40px;
   font-size: 25px;
   border: 1px solid white;
}

.cartwheel:active {
    opacity: 0.7;
}


.signing-in {
    margin-top: 18px;
    
    height: 30px;
    width: 70px;
    background-color: white;
    color: brown;
    border-width: 1.8px;
    border-color: brown;
    font-size: 15px;
    font-weight: 545;
}

.signing-in:active {
    opacity: 0.5;
}

.signing-up {
    margin-top: 8px;
    height: 30px;
    width: 70px;
    background-color: white;
    color: brown;
    border-width: 1.8px;
    border-color: brown;
    font-size: 15px;
    font-weight: 545;
}

.signing-up:active {
    opacity: 0.5;
}

.new {
    position: fixed;
    top: 10px;
    margin: 3em auto;
    width: 100vw;
    background-color: #fff;
}

.smaL {
    color: red;
}

.bt1 {
    width: 80px;
    margin-left: 450px;
    border-color: white;
    border: solid white;
    color: black;
}

.bt1:active {
    opacity: 0.5;
}

.bt2 {
    width: 80px;
    margin-left: -26px;
    border-color: white;
    border: solid white;
    color: black;
}

.bt2:active {
    opacity: 0.5;
}

.bt3 {
    width: 90px;
    margin-left: -25px;
    border-color: white;
    border: solid white;
    color: black;
}

.bt3:active {
    opacity: 0.5;
}

.bt4 {
    width: 80px;
    margin-left: -20px;
    border-color: white;
    border: solid white;
    color: black;
}

.bt4:active {
    opacity: 0.5;
}

.pic {
    margin-top: 7em;
    width: 1240px;
    height: 600px;
    cursor: pointer;
}

.first {
    font-size: 25px;
    line-height: 10px;
    width: 800px;
    margin-left: 282px;
}

.second {
    font-size: 25px;
    margin-left: 420px;
    line-height: 3px;
}

.third {
    font-size: 20px;
    margin-left: 204px;
    line-height: 80px;
}

.one {
    width: 201px;
    margin-right: 811px;
    background-color: brown;
    height: 1px;
    margin-top: -48px;
}

.two {
    width: 100px;
    margin-right: 860px;
    background-color: red;
    height: 1px;
    margin-top: -7px;
}

button {
    color: rgb(100, 20, 20);
    border-radius: 3px;
    border-color: red;
    border-width: 1.5px;
    background-color: white;
    width: 90px;
    height: 30px;
    margin-inline: 7px;
    margin-top: 19px;
    cursor: pointer;
}

.spaces {
    margin-left: 90px;
    width: 1100px;
}

.heading {
    font-size: 35px;
    margin-top: 55px;
    margin-left: 405px;
}

.three {
    width: 309px;
    margin-left: 430px;
    background-color: brown;
    height: 1px;
    margin-top: -35px;
}

.four {
    width: 245px;
    margin-left: 462px;
    background-color: red;
    height: 1px;
    margin-top: -7px;
}

.tag {
    margin-left: 750px;
    margin-top: -75px;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    color: white;
    padding: 8px 5px;
    border-radius: 200px;
    background-color: red; 
    width: 35px;
    position: absolute;
    transform: rotate(45deg);
    text-align: justify;
}

.t {
    margin-left: 8.5px;
    margin-top: 5px;
}

.tee {
    margin-top: -7px;
    margin-left: -4.5px;
}


.checked {
    color:gold;
}

.percent {
    background-color: rgb(235, 235, 139);
    opacity: 0.8;
    width: 145px;
    margin-top: 25px;
    margin-left: -40px;
    font-size: 13px;
}

.cut {
    width: 1238px;
    height: 300px;
    border: 10px solid rgb(161, 160, 160);
    background-color: rgb(161, 160, 160);
    margin-top: 50px; 
    margin-left: -10px;
}

.conne {
    width: 400px;
    margin-left: 430px;
    border-radius: 30px;
    border-color: rgb(161, 160, 160);
    font-size: 15px;
    border: 10px;
    color: black;
    transition: background-color 0.2s;
}

.conne:hover {
    background-color: rgb(231, 230, 230);
}

.conne:active {
    opacity: 0.7;
}

.h1 {
    width: 470px;
    margin-left: 390px;
    margin-top: 20px;
    background-color: brown;
    height: 1px;
    border-color: brown;
}

.join {
    width: 700px;
    height: 90px;
    background-color: white;
    color: black;
    margin-left: 280px;
    margin-top: 30px;
}

.p1 {
    margin-left: 100px;
    padding: 20px;
    font-family: Lato;
    font-size: 20px;
}

.p2{
    margin-left: 210px;
    margin-top: -35px;
    font-size: 20px;
}

.but {
    width: 70px;
    height: 68px;
    border-radius: 40px;
    color: black;
    border: 1px solid red;
    margin-left: 590px;
    margin-top: 25px;
}

.click {
    border-radius: 40px;
    border: 1px solid white;
    margin-left: -9px;
    font-size: 22px;
    color: black;
    transition: background-color 0.2s;
}

.click:active {
    opacity: 0.7;
}

.click:hover {
    color: white;
    background-color: rgb(206, 53, 53);
}

.Fic-book {
    width: 1000px;
    display: grid;
}

.fic {
    font-size: 35px;
    font-family: lato;
    margin-left: 500px;
}

.line1 {
    width: 170px;
    margin-left: 530px;
    background-color: brown;
    height: 1px;
    margin-top: -35px;
}

.line2 {
    width: 85px;
    margin-left: 570px;
    background-color: red;
    height: 1px;
    margin-top: -7px;
}

.fic-books {
    width: 200px;
    height: 100px;
    border: 1px solid rgb(239, 235, 235);
    padding: 50px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 100px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.bookie {
    width: 95px;
    margin-top: -40px;
    margin-left: -40px;
}

.T {
    font-size: 14px;
    margin-top: -150px;
    margin-left: 70px;
}

.cost {
    margin-top: -10px;
    margin-left: 70px;
}

.ster {
    margin-top: -10px;
    margin-left: 70px;
}

.rating {
    font-size: 16px;
    margin-top: -19px;
    margin-left: 180px;
}

.heart-but {
    width:30px;
    margin-left:70px;
    margin-top: 5px;
    font-size: 15px;
    border-color: white;
    border-style: outset;
    border: solid white;
    color: grey;
}

.heart-but:active {
    opacity: 0.7;
}

.cart-but {
    width:30px;
    height: 30px;
    margin-left: -5px;
    margin-top: -50px;
    font-size: 15px;
    border-color: white;
    border-style: outset;
    border: solid white;
    color: grey;
}

.cart-but:active {
    opacity: 0.7;
}

.likes {
    background-color: rgb(235, 235, 139);
    opacity: 0.8;
    width: 145px;
    margin-top: 25px;
    margin-left: -40px;
    font-size: 13px;
}

.fic-books2 {
    width: 200px;
    height: 100px;
    margin-left: 500px;
    margin-top: -220px;
    border: 1px solid rgb(239, 235, 235);
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.fic-books3 {
    width: 200px;
    height: 100px;
    border: 1px solid rgb(239, 235, 235);
    background-color: white;
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}